<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<script src="/lib/w3.js"></script>

<body>

<div w3-include-html="/project_proposal.html"></div> 

<script>
w3.includeHTML();
</script>
<div>
  <h1>Hello this is my first project</h1>
</div>
</body>
</html>
